$grayscale-primary: #DD820D !default;
$grayscale-dark: #000 !default;
$grayscale-light: #fff !default;

$grayscale-body-font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
$grayscale-headline-font-family: "Oxygen","Helvetica Neue",Helvetica,Arial,sans-serif;
